<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CEU jaguaré</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div class="container-header">
                <img class="icon" src="imagens/icon ceu.png" alt="">
                <h1 class="titulo">CEU jaguaré - Professor Henrique Gamba</h1>
            </div>
            <div class="wrapper-header">
                <hr class="hr-header">
                <h2 class="info">Localização: Avenida Kenkiti Simonoto 80 - Jaguaré</h2>
                <h2 class="info">Telefone e e-mail de contato: 11 3716-2152 / ceujaguare@sme.prefeitura.sp.gpv.br</h2>
                <hr>
            </div>
        </header>
        <main class="container-main">
            <div class="caixadetexto"><p class="texto">A unidade CEU no bairro Jaguaré, zona oeste de São Paulo, é um centro público que proporciona à comunidade conhecimento, entretenimento e saúde por meio de exercícios físicos, educativos e dinâmicos gratuitos. A instituição está equipada com biblioteca, quadras, pistas de caminhada e piscinas prontas para te receber, ligue para o número de contato ou mande um e-mail e veja o site para conferir atividades disponíveis, horários e como se inscrever!
        </p></div>
            <img class="imagemceu" src="imagens/ceu.jpg" alt="">
        </main>  
        <footer>
            <div class="wrapper-footer">     
                <h2 class="atividade">Atividades 2024</h2>
                <hr class="hr-footer">
            </div> 
            <div class="botao">
               <a href="aeróbicas.html"><button>Aeróbico</button></a>
              <a href="bolas.html"><button>Bolas</button></a>
              <a href="lutas.html"><button>Lutas</button></a>
            </div>
            <div class="botao2">
                <a href="aquáticas.html"><button>Aquático</button></a>
                <a href="força.html"><button>Força</button></a>
                <a href="tabuleiro.html"><button>Tabuleiro</button></a>
            </div>
        </footer>
    </body>
</html>
